* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* CSS5 */
header, footer, article, section, hgroup, nav, figure {
  display: block; }

/* http://meyerweb.com/eric/tools/css/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, input, textarea, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

p {
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Times New Roman", Georgia, serif; }

a, .pull-quote {
  font-family: "Open Sans", "Semi-Bold", "Helvetica Neue", "Arial", sans-serif; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  *zoom: 1; }
  .span1:before, .span2:before, .span3:before, .span4:before, .span5:before, .span6:before, .span7:before, .span8:before, .span9:before, .span10:before, .span11:before, .span12:before, .span1:after, .span2:after, .span3:after, .span4:after, .span5:after, .span6:after, .span7:after, .span8:after, .span9:after, .span10:after, .span11:after, .span12:after {
    content: " ";
    display: table; }
  .span1:after, .span2:after, .span3:after, .span4:after, .span5:after, .span6:after, .span7:after, .span8:after, .span9:after, .span10:after, .span11:after, .span12:after {
    clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

.span1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .span1:last-child {
    margin-right: 0; }

.span2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .span2:last-child {
    margin-right: 0; }

.span3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .span3:last-child {
    margin-right: 0; }

.span4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .span4:last-child {
    margin-right: 0; }

.span5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .span5:last-child {
    margin-right: 0; }

.span6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .span6:last-child {
    margin-right: 0; }

.span7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .span7:last-child {
    margin-right: 0; }

.span8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .span8:last-child {
    margin-right: 0; }

.span9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .span9:last-child {
    margin-right: 0; }

.span10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .span10:last-child {
    margin-right: 0; }

.span11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .span11:last-child {
    margin-right: 0; }

.span12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .span12:last-child {
    margin-right: 0; }

h1 {
  font-size: 42px;
  font-size: 2.625rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: #aaaaaa; }

em {
  font-style: italic; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizelegibility; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1; }

strong {
  font-weight: 600; }

address {
  display: inline; }

.pull-quote {
  color: #fa4b2a;
  font-size: 24px;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5em;
  /*@include shift(1 of 16);*/ }

.subtitle {
  color: #aaaaaa;
  font-style: italic;
  margin-bottom: 25px; }

img {
  margin: 20px 0;
  margin-left: 12.71973%; }
