// Fonts
// ---------------------------------------

%font-primary {
  font-family: $font-primary;
}

%font-secondary {
	font-family: $font-secondary
}


// Layout
// ---------------------------------------


%hidden {
    @extend .hidden;
}

%not-hidden {
    top: auto;
    left: auto;
    position: static;
}

%inline-block {
    @include inline-block;
}

%clearfix {
    @include clearfix;
}