.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 20px;
}


// Grid
// ---------------------------------------

$grid-columns: 12;

@for $i from 1 through ($grid-columns) {
  .span#{$i} {
    @extend %clearfix;
    @include span-columns($i of $grid-columns);
  }
}
