h1, h2, h3, h4, h5, h6 {
    @extend %font-secondary;
}

h1 {
    @include font-size(42);
}

h2 {
    @include font-size(32);
}

h3 {
    @include font-size(24);
}

h4 {
    @include font-size(20);
}

h5 {
    @include font-size(18);
    font-weight: 600;
}

h6 {
    @include font-size(16);
}

a {
    color: $red;
    text-decoration: none;
    @extend %font-primary;
    font-weight: 600;

    &:hover {
        color: $light-gray;
    }
}

em {
    font-style: italic;
}

p {
    @include font-size(16);
    line-height: 1.5;
    margin: 0 0 1.5em 0;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
    text-rendering: optimizelegibility;
    @extend %font-primary;
}

small {
    @include font-size(12);
    line-height: 1;
}

strong {
    font-weight: 600;
}

// Break Points
// ---------------------------------------

@include media(max-width 600px) {

    .article-title {
        @include font-size(32);
        line-height: 1.3em;
    }

    .subtitle {
        @include font-size(24);
        line-height: 1.2em;
    }

    p {
        line-height: 1.7em;
    }

}