// Colors
// ---------------------------------------

$white: #FFF;
$black: #000;

$lightest-gray: #eee;
$lighter-gray: #ccc;
$light-gray: #aaa;
$gray: #666;
$dark-gray: #444;

$red: #fa4b2a;

$color-primary: $dark-gray;


// Fonts
// ---------------------------------------

$sans-serif-font-stack: 'Helvetica Neue', 'Arial', sans-serif;
$font-primary: 'Open Sans', $sans-serif-font-stack;

$semi-bold-sans-serif: 'Open Sans', 'Semi-Bold', $sans-serif-font-stack;

$serif-font-stack: 'Times New Roman', Georgia, serif;
$font-secondary: 'Roboto Slab', $serif-font-stack;



// Misc
// ---------------------------------------

$page-v-rhythm: 20px;

