address {
  display: inline;
}

.pull-quote {
	color: $red;
	@include font-size(24);
	@extend %font-primary;
	font-style: italic;
	line-height: 1.5em;
	/*@include shift(1 of 16);*/
}

.subtitle {
	color: $light-gray;
	font-style: italic;
  margin-bottom: 25px;
}

img {
	margin: 20px 0;
	@include shift(1 of 16);
}
